name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Lint Code
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set Up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.9'

    - name: Install Dependencies
      run: |
        pip install -r requirements.txt
        pip install pylint
      working-directory: ./mypizza

    - name: Lint Code
      run: |
        pylint mypizza/

  test:
    name: Run Tests
    runs-on: ubuntu-latest
    needs: lint
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set Up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install django
        pip install -r requirements.txt
      working-directory: ./mypizza

    - name: Run Tests
      run: |
        python manage.py migrate
        python manage.py test
      working-directory: ./mypizza

  security:
    name: Security Analysis
    runs-on: ubuntu-latest
    needs: test
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set Up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.9'

    - name: Install Dependencies
      run: |
        pip install -r requirements.txt
        pip install bandit
      working-directory: ./mypizza

    - name: Run Bandit
      run: |
        bandit -r mypizza/

  build:
    name: Build Docker Image
    runs-on: ubuntu-latest
    needs: security
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set Up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Build and Push Docker Image
      uses: docker/build-push-action@v3
      with:
        context: ./mypizza
        file: Dockerfile
        push: true
        tags: k4mus/mypizza:latest
